.App {
  text-align: center;
  align-items: center;
}

body {
  background-color: #f0dfdf;
}

.header {
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
  font-family: 'Lobster', cursive;
  background-color: lightpink;
  margin: 0 auto;
  background: linear-gradient(#f0dfdf, lightpink, lightpink);

}

.hero {
  width: 100vw;
  margin-bottom: 20px;
}

.nav-head {
  font-weight: 600;
  /* text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple; */
  margin: 10px;
  text-shadow: 2px 2px 4px purple;
  text-decoration: none;

}

a {
  text-decoration: none;
  color: white;

}

li {
  list-style-type: none;
}

table {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

td {
  padding-left: 20px;
}

.break {
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#f0dfdf, lightpink, lightpink);
}

.field {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  position: relative;
  /* background-color: rgba(255,255,255,0.3); */
  transition: 0.3s all;
  text-align: center;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}


.button {
  box-shadow:inset 0px 39px 0px -22px #f0dfdf;
	background-color:lightpink;
	border-radius:14px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color: purple;
	font-family:Arial;
	font-size:15px;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}


.ghost {
  color: grey;
}

.counter {
  color: purple;
}


@media (max-width: 600px) {
  .header {
    font-size: 2rem;
  }

  .button {
    width: 300px;
  }

}