.App {
  text-align: center;
  align-items: center;
}

body {
  background-color: #f0dfdf;
}

.header {
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
  font-family: 'Lobster', cursive;
  background-color: lightpink;
  margin: 0 auto;
  background: linear-gradient(#f0dfdf, lightpink, lightpink);

}

.hero {
  width: 100vw;
  margin-bottom: 20px;
}

.nav-head {
  font-weight: 600;
  /* text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple; */
  margin: 10px;
  text-shadow: 2px 2px 4px purple;
  text-decoration: none;

}

a {
  text-decoration: none;
  color: white;

}

li {
  list-style-type: none;
}

table {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

td {
  padding-left: 20px;
}

.break {
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#f0dfdf, lightpink, lightpink);
}

@media (max-width: 600px) {
  .header {
    font-size: 2rem;
    
  
  }
}